{% extends 'navbar.html' %} {% load crispy_forms_tags %} {% block content %}

<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-8">
      <div class="card">
        <div class="card-body py-2">
          <div class="row">
            <div class="col">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>username</th>
                    <th>email</th>
                  </tr>
                </thead>
                <tbody>
                  {% for person in customers %}
                  <tr>
                    <td>{{ person.id }}</td>
                    <td>{{ person.username |lower }}</td>
                    <td>{{ person.email }}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="card-footer text-right bg-white py-1"></div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
