{% extends 'navbar.html' %} {% load crispy_forms_tags %} {% block content %}

<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-10">
      <form class="form" method="post" novalidate>
        {% csrf_token %} {% if book_form.non_field_errors %}
        <div class="alert alert-info">{{ book_form.non_field_errors }}</div>
        {% endif %}

        <div class="card">
          <div class="card-body py-2">
            <div class="row">
              <div class="col-4">{{ book_form.name|as_crispy_field }}</div>
              <div class="col-4">{{ book_form.price|as_crispy_field }}</div>
              <div class="col-4">{{ book_form.genre|as_crispy_field }}</div>
            </div>
          </div>
          <div class="card-footer text-right bg-white py-1">
            <button type="submit" class="btn btn-success btn-sm">
              Save Book
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock content %}
